<div class="container-f">
  <div class=checkout-cart>
    <div class="order-products">
      <h1>Your cart</h1>
      <br>
      <% if @order.order_products %>
        <% @order.order_products.each do |order_product| %>
        <div class="card-product">
          <%= cl_image_tag order_product.product.product_photos.first.data, height: 300, width: 300, crop: :fill %>
          <div class="card-product-infos">
            <div class="name-quantity">
              <h2><%= order_product.product.name %></h2>
              <p><strong>Total: €<%= order_product.quantity * order_product.product.price %></strong></p>
            </div>
            <p>Quantity: <%= order_product.quantity %></p>
            <div class="remove">
              <%= link_to "Remove", order_product_path(order_product), method: :delete %>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="summary">
      <%= link_to "Checkout",checkout_path(@order), method: :patch %>
    </div>
  </div>  
</div>

