
<h1>Order</h1>
<ul>
  <li>Status: <%= @order.status %></li>

  <% @order.order_products.each do |product| %>
  <li>Product Name: <%= product.product.name %></li>
  <li>Qty: <%= product.quantity %></li>
  <li>Price per: $<%= product.total_price %></li>
  <% end %>
  <li>Total bill: <%= @order.total_price %></li>
<ul>