<html>
  <head>
    <meta charset="utf-8">
    <title>Open Component Challlenge</title>
  </head>

  <body>

    <!-- Code your component here -->
    <div class="container">
        <h1>Buttons</h1>

        <p>Button normal of Farmer's emarket hence the f</p>
        <hr>
        <br>
        <button href="#" class="btn-f">btn-f</button>
        <button href="#" class="btn-f btn-m">btn-f btn-m</button>        
        <button href="#" class="btn-f btn-l" style="margin-bottom: 20px">btn-f btn-l</button>
        <button class="btn-f-d">btn-f-d</button>
        <br>
        <hr>

        <h1>Inputs</h1>
        <p>Input dash f</p>
        <input type="text" class="input-f">
        <input type="text" class="input-f input-m">
        <input type="text" class="input-f input-l" style="margin-bottom: 20px">
        <br>
        <hr>

        <h1>Search bar and search button</h1>
        <p>form-group-f</p>
        <div class="form-group-f">
            <input class="input-f input-search" type="text"/>
            <i class="fas fa-search searchf-f" 
               style="position: absolute;
                      top: 10px;
                      left: 1050px;
                      font-size: 60px;">
            </i>
        </div>
        <br>
        <hr>

        <h1>Order product </h1>
        <div class="card-order">
            <div class="order-image">
                <img src="https://picsum.photos/80/80" alt="">
            </div>
            
            <div class="order-detail">
                <h2>Mango</h2>
                <p>Quantity: 5</p>
            </div>
            
            <div class="order-price-status">
                <p>$ 249</p>
            </div>
            <div class="order-price-status">
                <p>status</p>
            </div>
            <div class="order">
                <div class="order-to">
                <h4>to:</h4>
                <i class="far fa-user-circle"
                   style="font-size: 80px;"
                ></i>
                <p>Burguer King</p> 
            </div>
            
            <div class="order-date">
                <p>10/02/2019</p>
            </div>
            </div>

          
        </div>
        <br>



        <h1>Avatars S M L, S M L bordered</h1>
        <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
        <img class="avatar-m" alt="avatar-m" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        <img class="avatar-l" alt="avatar-l" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" /> 
        <img class="avatar-m-bordered" alt="avatar-m-bordered" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /> 
        <img class="avatar-l-bordered" alt="avatar-l-bordered" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /> 
        <br>
        <hr>


        <h1>Farmer Profile Banner</h1>

        <div class="profile-background">
            <img src="https://images.unsplash.com/photo-1543418219-44e30b057fea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2851&q=80">
            <div class="profile-infos" >
                <img class=" profile-avatar avatar-l-bordered" alt="avatar-l-bordered" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /> 
                <div class="profile-text">
                    <div class="name-location">
                        <h1>Billy Joel</h1>
                        <h2>Location</h2>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centurie</p>
                </div>
            </div>
        </div>
        <hr>

        <%
=begin%>
 <h1>Create Product Box</h1>

        <div class="create-product-container">
            <%= simple_form_for(@product) do |f| %>
                <div class="background-img" style="background-image: url(https://images.unsplash.com/photo-1482012792084-a0c3725f289f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)">
                    <label class="custom-file-upload">
                        <%= f.input :image %>
                    </label>
                </div>
            
                <div class="product-info">
                    <div class="name-tag-inputs">
                        <%= f.input :name, label: "Name...", id:"product-name" %>
                        <%= f.input :tag, label: "Tag...", id:"product-tag" %>
                    </div>
                    <h5>Description:</h5>
                    <textarea class="description-input" placeholder="short and precise pls..."></textarea>
                    <h5>Price:</h5>
                    <div class="price-kg">
                        <%= f.input :price, label: "Price...", id:"product-price" %>
                        <%= f.input :unit_of_measurement, label: "UOM...", id:"product-uom" %>
                    </div>
                    <div class="add-product">
                        <%= f.button :submit, class: "btn-f btn-m", label:"Add Product" %>
                    </div>
                </div>
            <% end %>
        </div> 
<%
=end%>

        <br>
        <br>

        

    </div>
    

  </body>
</html>
