<div class="banner clearfix" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1534073133331-c4b62a557083?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
  <% if user_signed_in? %>
    <div class='farmer-nav-home' style='right: -1100px;'>
        <div class='list-container-home'>
            <ul>
                <li> <%=link_to "Logout", destroy_user_session_path(current_user), method: :delete, style:'float:right; color:white'%></li>
            </ul>
        </div>
  </div>
  <% else %>
  <div class='farmer-nav-home'>
        <div class='list-container-home'>
            <ul>
                <li> <%= link_to "Sign Up", new_user_registration_path, style:'float:right; color:white'%></li>
                <li> <%= link_to "Sign In", new_user_session_path, style:'float:right; color:white'%></li>
                <li> <%= link_to "About", new_user_session_path, style:'float:right; color:white'%></li>
            </ul>
        </div>
  </div>
  <% end %>
  <div class="container">
    <h1>The Farmers' <strong>eMarket</strong></h1>
    <p>Order local and fresh ingredients for your restaurant</p>
    <%= form_tag products_path, method: :get, class:'simple_form search' do %>
      <div class="search-form-control form-group">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control string required",
          placeholder: "Find a produce",
          style: ""
        %>
        <button name="button" type="submit" class="btn btn-flat">
          Search
        </button>
      </div>
    <% end %>
  </div>
</div>
