<div class="banner clearfix" style="background-image: linear-gradient(to right top,rgba(128,128,128,0.8),rgba(157,158,158,0.5), rgba(190,190,190,0.2), rgba(222,222,222,0)), url(https://images.unsplash.com/photo-1534073133331-c4b62a557083?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
  <% if user_signed_in? %>
    <div class='farmer-nav-home' style='right: -1100px;'>
        <div class='list-container-home'>
            <ul>
                <li> <%=link_to "Logout", destroy_user_session_path(current_user), method: :delete, style:'float:right; color:white'%></li>
            </ul>
        </div>
  </div>
  <% else %>
  <div class='farmer-nav-home'>
        <div class='list-container-home'>
            <ul>
                <li> <%= link_to "Sign Up", new_user_registration_path, style:'float:right; color:white'%></li>
                <li> <%= link_to "Sign In", new_user_session_path, style:'float:right; color:white'%></li>
                <li> <%= link_to "About", new_user_session_path, style:'float:right; color:white'%></li>
            </ul>
        </div>
  </div>
  <% end %>
  <div class="container">
    <h1>The Farmers' <strong>eMarket</strong></h1>
    <p>Order local and fresh ingredients for your restaurant</p>
    <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
        <div class="search-form-control form-group">
            <input class="form-control string required" type="text" name="search[query]" id="search_query" />
            <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Search
            </button>
        </div>
    </form>
  </div>
    
   
</div>



<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if user_signed_in? %>
<%= link_to "Logout", destroy_user_session_path(current_user), method: :delete %>
  <% if current_user.role == "Restaurant" %>
  <%= link_to "Link to market", products_path %>
  <%= link_to "Go to cart", restaurant_cart_path %>
  <%= link_to "My orders", restaurant_orders_path %>
  <% end %>
<% else %>
<%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Sign In", new_user_session_path %>
<% end %>
