<div class="container">
  <div class="row justify-content-center ">
    <div class="col-xs-12 col-sm-6 col-sm-offset-6">
      <div class="form-login">
        <h2 style="text-align:center">Your farm</h2>

     <%= simple_form_for(@farmer, :html => { :multipart => true }) do |f| %>
          <div class="form-inputs mt-4">
            <%= f.input :name, label: "What is the name of your company" %>
            <%= f.input :address, label: "Where is your farm located" %>
            <%= f.input :description, label: "What restaurants should know about your farm" %>
            <%= f.fields_for :farmer_photos do |p| %>
            <%= p.label :data %><br>
            <%= p.file_field :data, :multiple => true, name: "farmer_photos[data][]" %>
            <% end %>
          </div>
          <div class="form-actions d-flex justify-content-center mt-4 mb-4">
            <%= f.button :submit, "Create farm", class: "btn-f-d btn-l" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
