<div class="container-f product-show">
    <div class='category', style="margin-top: 160px">
        <p><%= link_to "Clear filter", products_path, class: "cat-item", style:"font-weight: lighter" %></p>
        <h3><%= link_to "Fruits", products_path(query: {category: "Fruits"}), class: "cat-item #{'green-underline bold' if selected_category?("Fruits") }" %></h3>
        <h3><%= link_to "Veggies", products_path(query: {category: "Vegetables"}), class: "cat-item #{'green-underline bold' if selected_category?("Vegetables") }" %></h3>
        <h3><%= link_to "Meat", products_path(query: {category: "Meat"}), class: "cat-item #{'green-underline bold' if selected_category?("Meat") }" %></h3>
        <h3><%= link_to "Dairy", products_path(query: {category: "Dairy"}), class: "cat-item #{'green-underline bold' if selected_category?("Dairy") }" %></h3>
    </div>

    <div>

        <div class="cards-container">
           <%= simple_form_for :query, url: products_path, method: :get do |f| %>
            <div class="d-flex filter">
              <div class="filter-input d-flex mr-4">
                <%= f.input :text, label: "Search", required: false, placeholder: "Product or category", input_html: { value: params[:query].try(:[], :text)}, wrapper_html: { class: 'input-search-f' }%>
                <%= f.input :price, label: "Price", required: false, collection: ['-', 'Ascending', 'Descending'], selected: params[:query].try(:[], :price), wrapper_html: { class: 'input-price-f' }  %>
                <%= f.input :distance, label: "Distance", required: false, collection: ['-', '< 5km', '< 10km', '< 20km', '< 50km'], selected: params[:query].try(:[], :distance), wrapper_html: { class: 'input-distance-f' }  %>
                <%= f.input :rating, label: "Rating", required: false, collection: ['-', '> 1', '> 2', '> 3', '> 4'], selected: params[:query].try(:[], :rating), wrapper_html: { class: 'input-distance-f' }  %>
                <%= f.input :category, as: :hidden, input_html: { value: params[:query].try(:[], :category) } %>
              </div>
              <div>
                <%= f.button :submit, "Search", class: "btn-f-d" %>
              </div>
            </div>
            <% end %>
        </div>

        <div class='responsive-dropdown' style='width: 100%'>
            <select style='width: 49.5%'>
                <option>Filter by product type</option>
                <option>Fruits</option>
                <option>Veggies</option>
                <option>Meat</option>
                <option>Dairy</option>
            </select>
            <select style='width: 49.5%; float:right'>
                <option>Filter by product type</option>
                <option>Fruits</option>
                <option>Veggies</option>
                <option>Meat</option>
                <option>Dairy</option>
            </select>
        </div>


        <div class='cards-container row'>
            <% @products.each do |product| %>
                <div class="col-lg-4 product-card-parent">
                    <% if current_user %>
                        <% if current_user.role == "Restaurant" %>
                            <%= link_to product_order_products_path(product), method: :post, class: "add-b-f" , remote: true, style: 'font-size: 30px; color: white;' do %>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            <% end %>
                        <% end %>
                    <% end %>

                    <div class='product-card'>
                        <% if current_user %>
                                <% if current_user.role == "Restaurant" %>
                                    <a href="#" data-featherlight="#mylightbox-<%=product.id %>">
                                <% end %>

                                <% if current_user.role == "Restaurant" %>
                                    <div class='card-img-restaurant'
                                        style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('<%= cl_image_path product.product_photos.first.data, height: 160, width: 335, crop: :fill %>')">
                                    </div>
                                <% else %>
                                    <div class='card-img-farmer'
                                        style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('<%= cl_image_path product.product_photos.first.data, height: 160, width: 335, crop: :fill %>')">
                                    </div>
                                <% end %>

                        <% end %>

                        <div class='card-details'>
                            <div class='rows'>
                                <h4 class="product-name" data-id-rating="<%= product.id %>"><%= product.name %></h4>
                                <%= link_to cl_image_tag(product.farmer.user.avatar, class: 'photo-card avatar', crop: :fill, height: 50), farmer_path(product.farmer)%>
                            </div>
                            <div class='rows'>
                                <% if product.rating == 1 %>
                                    <span><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span>
                                <% elsif product.rating == 2 %>
                                    <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span>
                                <% elsif product.rating == 3 %>
                                    <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span>
                                <% elsif product.rating == 4 %>
                                    <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span>
                                <% elsif product.rating == 5 %>
                                    <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                                <% end %>
                                <p class="star-placement">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <i class="far fa-star"></i>
                                    <span class="rating-score"><%= product.rating %></span>
                                </p>
                                <p>$<%=product.price%> / <small><%=product.unit_of_measurement%></small></p>
                            </div>
                        </div>

                    </div>
                </div>
            <% end %>
        </div>


        <!-- Popup -->


            <% @products.each do |product| %>

            <div hidden>

            <div id="mylightbox-<%=product.id %>">

            <div class="product-box">

                <div class="background-img"
                    style="background-image: url('<%= cl_image_path product.product_photos.first.data%>')">
                </div>

                <%= link_to cl_image_tag(product.farmer.user.avatar, class: 'profile-avatar avatar-m-bordered', crop: :fill, height: 105), farmer_path(product.farmer)%>

                <div class="basic-infos">
                    <div class="title-rating">
                        <h3><%=product.name %></h3>
                    </div>
                    <div class="farmer-name">
                        <p>by <%= link_to farmer_path(product.farmer), class:'profile-link hvr-icon-wobble-horizontal', style:'margin-bottom: 3px;' do %>
                        <%= product.farmer.name %><i class="fa fa-arrow-right hvr-icon" style="margin-left: 8px;"></i>
                        <% end %>
                        </p>
                    </div>
                    <div class='rating-price'>
                        <% if product.rating == 1 %>
                            <span><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span>
                        <% elsif product.rating == 2 %>
                            <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span>
                        <% elsif product.rating == 3 %>
                             <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span>
                        <% elsif product.rating == 4 %>
                            <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span>
                        <% elsif product.rating == 5 %>
                            <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                        <% end %>
                        <h4><strong><%= humanized_money_with_symbol(product.price) %></strong>/<%=product.unit_of_measurement%></h4>
                    </div>
                        <div>
                            <p><%=product.description %></p>
                        </div>
                        <div>
                            <p><strong>About the Farmer:</strong></p>
                            <p><%=product.farmer.description %></p>
                        </div>
                        <div class="add-to-cart">
                            <button href="#" class="btn-f btn-m">Add to cart</button>
                        </div>
                </div>
            </div>
            </div>

            <% end %>


    </div>
</div>

