<% if current_user.role == "Restaurant" %>
    <%= link_to 'Go to cart', order_path(current_user.restaurant.active_order) %>
<% end %>



<div class='page-container'>
    <div class='side-nav'>
        <h4>Fruits</h4><br>
        <h4>Vegetables</h4><br>
        <h4>Meats</h4><br>
        <h4>Dairy</h4>
    </div>

    <div class='cards-container'>
        <% @products.each do |product| %>
        <div class=product-card>
            <div class='card-img' style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.1)), url('<%= cl_image_path product.product_photos.first.data, height: 160, width: 335, crop: :fill %>')">
                <%= link_to "", product_order_products_path(product), method: :post, class: "fas fa-plus-circle add-b" , style: 'font-size: 25px; color: black'%>
            </div>
            <div class='card-details'>
                <div class='rows'>
                    <h4><%= product.name %></h4>
                    <%= cl_image_tag product.farmer.user.avatar, class: 'photo-card avatar', crop: :fill %>
                </div>
                <div class='rows'>
                    <p>⭐️️️️️️️⭐️⭐️⭐️<%=product.rating%> </p>
                    <p>$<%=product.price%> / <small><%=product.unit_of_measurement%></small></p>
                </div>

            </div>
        <% end %>
        </div>
</div>

