

<div class='page-container'>
    <div class='side-nav'>
        <h4>Fruits</h4><br>
        <h4>Vegetables</h4><br>
        <h4>Meats</h4><br>
        <h4>Dairy</h4>
    </div>

    <div class='cards-container'>
        <% @products.each do |product| %>
        <div class=product-card>
            <div class='card-img' style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static6.depositphotos.com/1001503/609/i/950/depositphotos_6092650-stock-photo-healthy-food-background-orange.jpg)">
                <%= link_to "", product_order_products_path(product), method: :post, class: "fas fa-plus-circle add-b" , style: 'font-size: 25px; color: black'%>
            </div>
            <div class='card-details'>
                <div class='rows'>
                    <h4><%= product.name %></h4>
                    <%= cl_image_path product.farmer_photos.avatar, height: 50, width: 50, crop: :fill %>
                </div>
                <div class='rows'>
                    <p>⭐️️️️️️️⭐️⭐️⭐️<%=product.rating%></p>
                    <p>$<%=product.price%> / <small><%=product.unit_of_measurement%></small></p>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>
