<%= link_to "Add a product", new_product_path, class: "btn btn-primary" %>
<div class='page-container'>
    <div class='side-nav'>
        <h4>Fruits</h4><br>
        <h4>Vegetables</h4><br>
        <h4>Meats</h4><br>
        <h4>Dairy</h4>
    </div>

    <div class='cards-container'>
        <% @products.each do |product| %>
        <div class=product-card>
            <div class='action-buttons'>
                <%= link_to "", product_path(product), class: "fas fa-minus-circle delete-b", style: 'font-size: 25px; color: black', method: :delete%>
                <%= link_to "", edit_product_path(product), class: "fas fa-cog edit-b" , style: 'font-size: 25px; color: black'%>
            </div>
            <div class='card-img'>
                <%= cl_image_tag product.product_photos.last, height: 160, width: 335, crop: :fill %>
            </div>
            <div class='card-details'>
                <div class='rows'>
                    <h4><%= product.name %></h4>
                    <p><%=number_with_delimiter(product.inventory, :delimiter => ',')%> <small><%=product.unit_of_measurement%></small></p>
                </div>
                <div class='rows'>
                    <p>⭐️️️️️️️⭐️⭐️⭐️<%=product.rating%></p>
                    <p>$<%=product.price%> / <small><%=product.unit_of_measurement%></small></p>
                </div>
            </div>
        </div>
        <% end %>
        </div>
</div>