<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    <title>The Farmers' eMarket</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

    <% unless current_page?(root_path) %>
      <%= render 'shared/navbar' %>
    <% end %>
    
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%=name%>" role="alert">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
    <p class="notice" style="margin:0px;"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
